services:
  mysql:
    build:
      context: ./mysql
      args:
        - HTTP_PROXY=${HTTP_PROXY:-}
        - http_proxy=${HTTP_PROXY:-}
        - HTTPS_PROXY=${HTTPS_PROXY:-}
        - https_proxy=${HTTPS_PROXY:-}
        - NO_PROXY=${NO_PROXY:-}
        - no_proxy=${NO_PROXY:-}
    restart: always
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=${DB_NAME:-redmine_production}
      - MYSQL_USER=${DB_USER:-redmine}
      - MYSQL_PASSWORD=${DB_PASS:-password}
    command: --transaction-isolation=READ-COMMITTED
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE
    volumes:
      - ./volumes/mysql:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  redmine:
    build:
      context: ./redmine
      args:
        - HTTP_PROXY=${HTTP_PROXY:-}
        - http_proxy=${HTTP_PROXY:-}
        - HTTPS_PROXY=${HTTPS_PROXY:-}
        - https_proxy=${HTTPS_PROXY:-}
        - NO_PROXY=${NO_PROXY:-}
        - no_proxy=${NO_PROXY:-}
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - TZ=Asia/Tokyo
      - SESSION_KEY_SUFFIX=${SESSION_KEY_SUFFIX:-}

      - REDMINE_HTTPS=false
      - REDMINE_PORT=${REDMINE_PORT:-80}
      - REDMINE_RELATIVE_URL_ROOT=
      - REDMINE_SECRET_TOKEN=

      - REDMINE_CONCURRENT_UPLOADS=2
      - REDMINE_SUDO_MODE_ENABLED=false
      - REDMINE_SUDO_MODE_TIMEOUT=15

      - REDMINE_BACKUP_SCHEDULE=${REDMINE_BACKUP_SCHEDULE:-daily}
      - REDMINE_BACKUP_EXPIRY=${REDMINE_BACKUP_EXPIRY:-604800}
      - REDMINE_BACKUP_TIME=${REDMINE_BACKUP_TIME:-04:00}

      - DB_ADAPTER=mysql2
      - DB_ENCODING=utf8mb4
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=${DB_NAME:-redmine_production}
      - DB_USER=${DB_USER:-redmine}
      - DB_PASS=${DB_PASS:-password}

      - LOGGER_LEVEL=${LOGGER_LEVEL:-info}

      - NGINX_WORKERS=${NGINX_WORKERS:-1}
      - NGINX_MAX_UPLOAD_SIZE=${NGINX_MAX_UPLOAD_SIZE:-20m}

      - PUMA_WORKERS=${PUMA_WORKERS:-2}

      - SMTP_ENABLED=false
      - SMTP_DOMAIN=www.example.com
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=mailer@example.com
      - SMTP_PASS=password
      - SMTP_METHOD=smtp
      - SMTP_STARTTLS=true
      - SMTP_AUTHENTICATION=:login

      - IMAP_ENABLED=false
      - IMAP_USER=mailer@example.com
      - IMAP_PASS=password
      - IMAP_HOST=imap.gmail.com
      - IMAP_PORT=993
      - IMAP_SSL=true
      - IMAP_INTERVAL=30

    ports:
      - "${REDMINE_PORT:-80}:80"
    volumes:
      - ./volumes/redmine_data:/home/redmine/data
      - ./volumes/redmine_logs:/var/log/redmine
    tmpfs:
      - /home/redmine/redmine/file_index
    healthcheck:
      test: [ "CMD", "curl", "--noproxy", "*", "-fsI", "-o", "/dev/null", "http://localhost" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
